<!DOCTYPE>
<html>
<head>
  <title>Parcel Shipping Calculator</title>
  <link 
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" 
      rel="stylesheet" 
      integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" 
      crossorigin="anonymous">
    <meta charset='utf-8'>
</head>
<body>
  @if (@Model.Length == 0 || @Model.Width == 0 || @Model.Height == 0 || @Model.Weight == 0)
  {
    <h3>There was an error calculating your shipping cost</h3>
    <p>Please ensure you enter all requested information</p>
    <br>
    <a href="/">Let's try that again</a>
  }

  @using Parcel.Models;
  @if (@Model.Length != 0 && @Model.Width != 0 && @Model.Height != 0 && @Model.Weight != 0)
  {
    <h3>Your shipping costs:</h3>
    <p>Dimensions: @Model.Length"L x @Model.Width"W x @Model.Height"H</p>
    <p>Total volume is @Model.Volume() cubic inches</p>
    <p>Total package weight is @Model.Weight pounds</p>
    <h5>The shipping total will be $@Model.CostToShip()</h5>
    <a href="/">Check another package</a>
  }
</body>
</html>